@import "tailwindcss";

@theme {
  --color-primary: #00be76;
  --color-secondary: black;
  --color-tertiary: #ffffff;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@utility scrollbar-hide {
  &::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: none;
}

/* 
.border {
  border: 1px solid black;
} */
